### Dataset

data asli berasal dari kaggle : https://www.kaggle.com/hendratno/covid19-indonesia

### Problem

1. Mencari Measure of Central Tendency dari data
2. Mencari Measure of Variance dari data

### Import Library

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

### Loading Data

In [2]:
df = pd.read_csv('covid_19_indonesia_time_series_all.csv')
df

,Date,Location ISO Code,Location,New Cases,New Deaths,New Recovered,New Active Cases,Total Cases,Total Deaths,Total Recovered,...,New Deaths per Million,Total Deaths per Million,Case Fatality Rate,Case Recovered Rate,Growth Factor of New Cases,Growth Factor of New Deaths,Name,Item,Kind,Hidden
0,1/8/2020,ID-JI,Jawa Timur,9,3,1,5,9,5,10,...,0.07,0.12,55.56%,111.11%,NaN,NaN,NaN,NaN,NaN,NaN
1,1/9/2020,ID-JI,Jawa Timur,0,1,23,-24,9,6,33,...,0.02,0.15,66.67%,366.67%,0.00,0.33,NaN,NaN,NaN,NaN
2,1/10/2020,ID-JI,Jawa Timur,0,1,14,-15,9,7,47,...,0.02,0.17,77.78%,522.22%,1.00,1.00,NaN,NaN,NaN,NaN
3,1/11/2020,ID-JI,Jawa Timur,0,3,8,-11,9,10,55,...,0.07,0.25,111.11%,611.11%,1.00,3.00,NaN,NaN,NaN,NaN
4,1/12/2020,ID-JI,Jawa Timur,0,3,1,-4,9,13,56,...,0.07,0.32,144.44%,622.22%,1.00,1.00,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16278,7/9/2021,ID-SG,Sulawesi Tenggara,124,1,3,120,12447,252,10412,...,0.38,95.62,2.02%,83.65%,0.92,0.50,NaN,NaN,NaN,NaN
16279,7/9/2021,ID-SA,Sulawesi Utara,278,9,9,260,17424,572,15525,...,3.41,216.51,3.28%,89.10%,1.24,9.00,NaN,NaN,NaN,NaN
16280,7/9/2021,ID-SB,Sumatera Barat,718,10,275,433,55675,1259,48840,...,1.81,228.11,2.26%,87.72%,0.93,1.00,NaN,NaN,NaN,NaN
16281,7/9/2021,ID-SS,Sumatera Selatan,341,6,221,114,31147,1569,27088,...,0.73,190.93,5.04%,86.97%,1.15,0.38,NaN,NaN,NaN,NaN
16282,7/9/2021,ID-SU,Sumatera Utara,336,5,241,90,38040,1232,33773,...,0.34,82.82,3.24%,88.78%,1.22,0.83,NaN,NaN,NaN,NaN

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16283 entries, 0 to 16282
Data columns (total 41 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Date                         16283 non-null  object
 1   Location ISO Code            16283 non-null  object
 2   Location                     16283 non-null  object
 3   New Cases                    16283 non-null  int64
 4   New Deaths                   16283 non-null  int64
 5   New Recovered                16283 non-null  int64
 6   New Active Cases             16283 non-null  int64
 7   Total Cases                  16283 non-null  int64
 8   Total Deaths                 16283 non-null  int64
 9   Total Recovered              16283 non-null  int64
 10  Total Active Cases           16283 non-null  int64
 11  Location Level               16283 non-null  object
 12  City or Regency              0 non-null      float64
 13  Province                     15788 non-null  object
 14  Country                      16283 non-null  object
 15  Continent                    16283 non-null  object
 16  Island                       15788 non-null  object
 17  Time Zone                    15788 non-null  object
 18  Special Status               2393 non-null   object
 19  Total Regencies              16283 non-null  int64
 20  Total Cities                 15814 non-null  float64
 21  Total Districts              16283 non-null  int64
 22  Total Urban Villages         15812 non-null  float64
 23  Total Rural Villages         15787 non-null  float64
 24  Area (km2)                   16283 non-null  int64
 25  Population                   16283 non-null  int64
 26  Population Density           16283 non-null  float64
 27  Longitude                    16283 non-null  float64
 28  Latitude                     16283 non-null  float64
 29  New Cases per Million        16283 non-null  float64
 30  Total Cases per Million      16283 non-null  float64
 31  New Deaths per Million       16283 non-null  float64
 32  Total Deaths per Million     16283 non-null  float64
 33  Case Fatality Rate           16283 non-null  object
 34  Case Recovered Rate          16283 non-null  object
 35  Growth Factor of New Cases   15298 non-null  float64
 36  Growth Factor of New Deaths  14344 non-null  float64
 37  Name                         0 non-null      float64
 38  Item                         0 non-null      float64
 39  Kind                         0 non-null      float64
 40  Hidden                       0 non-null      float64
dtypes: float64(17), int64(12), object(12)
memory usage: 5.1+ MB

#### mengelompokan variabel dengan type data integer dar float numbers

In [4]:
numbers = [var for var in df.columns if df[var].dtype =='int64' or df[var].dtype =='float64']
numbers

['New Cases',
 'New Deaths',
 'New Recovered',
 'New Active Cases',
 'Total Cases',
 'Total Deaths',
 'Total Recovered',
 'Total Active Cases',
 'City or Regency',
 'Total Regencies',
 'Total Cities',
 'Total Districts',
 'Total Urban Villages',
 'Total Rural Villages',
 'Area (km2)',
 'Population',
 'Population Density',
 'Longitude',
 'Latitude',
 'New Cases per Million',
 'Total Cases per Million',
 'New Deaths per Million',
 'Total Deaths per Million',
 'Growth Factor of New Cases',
 'Growth Factor of New Deaths',
 'Name',
 'Item',
 'Kind',
 'Hidden']

# 1. Measure of Central Tendency

## Mean

Mean merupakan nilai rata-rata dari suatu variable

In [5]:
for col in numbers:
    print("Nilai Mean dari variable " + col + " : " + str(df[col].mean()))

Nilai Mean dari variable New Cases : 301.27187864644105
Nilai Mean dari variable New Deaths : 7.919363753608057
Nilai Mean dari variable New Recovered : 248.01578333230978
Nilai Mean dari variable New Active Cases : 45.33673156052325
Nilai Mean dari variable Total Cases : 42746.73530676166
Nilai Mean dari variable Total Deaths : 1243.917644168765
Nilai Mean dari variable Total Recovered : 36894.2679481668
Nilai Mean dari variable Total Active Cases : 4608.549714426089
Nilai Mean dari variable City or Regency : nan
Nilai Mean dari variable Total Regencies : 24.792912853896702
Nilai Mean dari variable Total Cities : 6.049576324775515
Nilai Mean dari variable Total Districts : 432.59528342443036
Nilai Mean dari variable Total Urban Villages : 524.4581330634961
Nilai Mean dari variable Total Rural Villages : 4631.859821372015
Nilai Mean dari variable Area (km2) : 114077.48547564945
Nilai Mean dari variable Population : 16057038.005527237
Nilai Mean dari variable Population Density : 768.3087311920076
Nilai Mean dari variable Longitude : 113.42750195090004
Nilai Mean dari variable Latitude : -2.850092998606038
Nilai Mean dari variable New Cases per Million : 20.67362156850719
Nilai Mean dari variable Total Cases per Million : 2977.1600515875457
Nilai Mean dari variable New Deaths per Million : 0.4633464349321347
Nilai Mean dari variable Total Deaths per Million : 72.46239820671963
Nilai Mean dari variable Growth Factor of New Cases : 1.437651980651067
Nilai Mean dari variable Growth Factor of New Deaths : 1.0848724205242548
Nilai Mean dari variable Name : nan
Nilai Mean dari variable Item : nan
Nilai Mean dari variable Kind : nan
Nilai Mean dari variable Hidden : nan

## Median

Median merupakan nilai tengah(median) dari variabel

In [6]:
for col in numbers:
    print("Nilai Median dari variabel " + col + " : " + str(df[col].median()))

Nilai Median dari variabel New Cases : 39.0
Nilai Median dari variabel New Deaths : 1.0
Nilai Median dari variabel New Recovered : 24.0
Nilai Median dari variabel New Active Cases : 2.0
Nilai Median dari variabel Total Cases : 5941.0
Nilai Median dari variabel Total Deaths : 149.0
Nilai Median dari variabel Total Recovered : 4484.0
Nilai Median dari variabel Total Active Cases : 851.0
Nilai Median dari variabel City or Regency : nan
Nilai Median dari variabel Total Regencies : 12.0
Nilai Median dari variabel Total Cities : 2.0
Nilai Median dari variabel Total Districts : 171.0
Nilai Median dari variabel Total Urban Villages : 175.0
Nilai Median dari variabel Total Rural Villages : 1591.0
Nilai Median dari variabel Area (km2) : 46717.0
Nilai Median dari variabel Population : 4340348.0
Nilai Median dari variabel Population Density : 103.84
Nilai Median dari variabel Longitude : 112.73294140000002
Nilai Median dari variabel Latitude : -2.9935949789999996
Nilai Median dari variabel New Cases per Million : 7.67
Nilai Median dari variabel Total Cases per Million : 1398.64
Nilai Median dari variabel New Deaths per Million : 0.11
Nilai Median dari variabel Total Deaths per Million : 41.38
Nilai Median dari variabel Growth Factor of New Cases : 1.0
Nilai Median dari variabel Growth Factor of New Deaths : 1.0
Nilai Median dari variabel Name : nan
Nilai Median dari variabel Item : nan
Nilai Median dari variabel Kind : nan
Nilai Median dari variabel Hidden : nan

## Mode

Mode merupakan nilai yang paling sering muncul dari suatu variabel

In [7]:
for col in continous:
    print("Nilai Mode dari Variabel " + col + " : " + str(df[col].mode()))

NameError: name 'continous' is not defined

nilai yang paling sering muncul(mode) dari variabel 'New Deaths per Million' adalah 0.0

# 2. Mencari Measure of Variance dari data

## Range

Range adalah nilai rentang yang dihitung dihitung dengan mengurangkan nilai maksimum dengan nilai minimum suatu variabel

In [ ]:
for col in discrete:
    print(col + ' range: '+ str(df[col].max() - df[col].min()))

## Quartiles

Quartiles adalah penyebaran data secara keseluruhan dengan membagi persentil tersebut menjadi empat kuartil.

In [ ]:
for col in numbers:
    print(str(df[col].quantile([0.25, 0.5, 0.75])))

## Variance

Variance adalah ukuran seberapa jauh sebuah kumpulan bilangan tersebar yang diukur sebagai rata-rata selisih kuadrat dari mean

In [ ]:
for col in numbers:
    print("Nilai Variance dari variabel " + col + " : "+ str(df[col].var()))

## Standard Deviation

Standard Deviation adalah rata-rata jarak penyimpangan titik-titik data yang dihitung dengan mengkuadratkan selisih setiap nilai dari mean

In [ ]:
for col in numbers:
    print("Nilai Standard Deviation dari  variabel " + col + " : " + str(df[col].std()))